<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.graduation1.mapper.UserJobMapper">

    <cache />

    <update id="updateStatus">
        update user_job set status = 2 where unit_id = #{unitId}
    </update>
</mapper>
